{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quizzes/bootstrap.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="user-select: none" >QuizApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/quizzes/" class="nav-link text-dark" >Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/select" class="nav-link text-dark" >Wybierz quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/manage" class="nav-link text-dark" >Manager quizów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-bottom: 60px">
        <main role="main" class="pb-3">
            <div class="container">


                    <div class="row">
                    <h1 class="display-4">{{ quiz.title }}</h1>
                    </div>

                    {% if quiz.question_set.all|length == 0 %}

                    <div class="row" style="margin-top: 30px">
                        <h3>Quiz nie zawiera jeszcze żadnych pytań.</h3>
                    </div>

                    {% else %}

                    {% for question in quiz.question_set.all %}
                        <div class="row" style="margin-left: -5px">
                            <div class="media">
                                <div class="media-body">

                                    <h5 style="margin-top: 20px; margin-bottom: 20px">{{ question.contents }}</h5>

                                        {% for answer in question.answer_set.all %}
                                            {% if answer.is_true %}
                                            <p style="line-height: 5px; color: #34ce57" id="answer{{ forloop.counter }}" type="radio" > - {{ answer.contents }}</p>
                                            {% else %}
                                            <p style="line-height: 5px" id="answer{{ forloop.counter }}" type="radio" > - {{ answer.contents }}</p>
                                            {% endif %}
                                        {% endfor %}
                                        <button onclick="toggle('updateQuestionDiv{{ question.id }}')" id="updateQuestion" class="btn btn-dark btn-sm" style="width: 150px" >Zmień pytanie</button>
                                        <a href="{% url 'edit_question' question.id %}" class="btn btn-secondary btn-sm" role="button" style="color:white; width: 150px">Edytuj odpowiedzi</a>
                                        <a href="{% url 'delete_question' question.id %}" class="btn btn-danger btn-sm" role="button" style="color:white; width: 150px">Usuń pytanie</a>

                                        <div class="row">
                                            <div class="rounded" id="updateQuestionDiv{{ question.id }}" style="display: none; margin-top: 15px; background-color: gainsboro; width: 420px; padding: 10px">
                                                <form action="{% url 'update_question' question.id%}" method="post">
                                                    <div class="form-group">
                                                        <input class="form-control" name="questionContents" id="newQuestion" value="{{ question.contents }}" style="width: 400px">
                                                    </div>
                                                    <input type="submit" id="sendBtn" class="btn btn-dark" type="submit"  style="margin-top: 5px; color: white; width: 200px" value="Zatwierdź zmiany">
                                                </form>
                                            </div>
                                        </div>


                                </div>
                            </div>

                        </div>
                        <hr>
                    {% endfor %}

                    {% endif %}


                    <div class="row" style="margin-top: 60px">
                        <button onclick="toggle('addNewQuestionDiv')" id="addNewQuestion" class="btn btn-dark" style="width: 200px">Dodaj pytanie</button>
                        <a href="/quizzes/manage" class="btn btn-dark" style="width: 200px; margin-left: 10px">Powrót</a>
                    </div>

                    <div class="row">
                        <div class="rounded" id="addNewQuestionDiv" style="display: none; margin-top: 15px; background-color: gainsboro; width: 420px; padding: 10px">
                            <form action="{% url 'add_question' quiz.id%}" method="post">
                                <div class="form-group">
                                    <input class="form-control" name="questionContents" id="newQuestion" placeholder="Treść nowego pytania" style="width: 400px">
                                </div>
                                <input type="submit" id="sendBtn" class="btn btn-dark" type="submit"  style="margin-top: 5px; color: white; width: 200px" value="Dodaj">
                            </form>
                        </div>
                    </div>

            </div>
        </main>
    </div>

    <div class="navbar-fixed-bottom" style="position: fixed; height: 60px; bottom: 0; width: 100%; user-select: none; z-index: 100; background-color: white">
    <footer class="border-top footer text-muted" >
        <div class="container" style="margin-top: 15px">
            &copy; 2021 - QuizApp
        </div>
    </footer>
    </div>

</body>
</html>


<script>

    function toggle(elementId) {
        const x = document.getElementById(elementId);
        if (x.style.display === "none") {
                x.style.display = "block";
          } else {
                x.style.display = "none";
          }

    }

</script>