{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quizzes/bootstrap.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="user-select: none" >QuizApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/quizzes/" class="nav-link text-dark" >Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/select" class="nav-link text-dark" >Wybierz quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/manage" class="nav-link text-dark" >Manager quizów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-bottom: 60px">
        <main role="main" class="pb-3">
            <div class="container">





                    <div class="row" style="margin-bottom: 20px">
                    <h1 class="display-4">{{ question.contents }}</h1>
                    </div>

                    {% if question.answer_set.all|length == 0 %}

                    <div class="row" style="margin-top: 30px">
                        <h3>Pytanie nie zawiera jeszcze żadnych odpowiedzi.</h3>
                    </div>

                    {% else %}

                    {% for answer in question.answer_set.all %}
                        <div class="row" style="margin-left: -5px">
                            <div class="media">
                                <div class="media-body">
                                    {% if answer.is_true %}
                                    <h5 style="margin-top: 20px; margin-bottom: 10px; color: #34ce57">{{ answer.contents }}</h5>
                                    {% else %}
                                    <h5 style="margin-top: 20px; margin-bottom: 10px">{{ answer.contents }}</h5>
                                    {% endif %}
                                    <button onclick="toggle('updateAnswerDiv{{ answer.id }}')" id="updateAnswer" class="btn btn-secondary btn-sm" >Edytuj odpowiedź</button>
                                    <a href="{% url 'delete_answer' answer.id %}" class="btn btn-danger btn-sm" role="button" style="color:white">Usuń odpowiedź</a>

                                    <div class="row">
                                        <div class="rounded" id="updateAnswerDiv{{ answer.id }}" style="display: none; margin-top: 15px; background-color: gainsboro; width: 420px; padding: 10px">
                                            <form action="{% url 'update_answer' answer.id%}" method="post">
                                                <div class="form-group">
                                                    <input class="form-control" name="answerContents" id="newQuestion" value="{{ answer.contents }}" style="width: 400px">
                                                    <div style="margin-left: 21px; margin-top: 10px">
                                                        {% if answer.is_true == True %}
                                                        <input class="form-check-input" type="checkbox" name="answerIsTrue" id="newQuestionIsTrue" value="True" checked>
                                                        {% else %}
                                                        <input class="form-check-input" type="checkbox" name="answerIsTrue" id="newQuestionIsTrue" value="True" >
                                                        {% endif %}
                                                        <label class="form-check-label" for="answerIsTrue">Poprawna odpowiedź</label>
                                                    </div>
                                                </div>
                                                <input type="submit" id="sendBtn" class="btn btn-dark" type="submit"  style="margin-top: 5px; color: white; width: 200px" value="Zatwierdź zmiany">
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <hr>
                    {% endfor %}

                    {% endif %}


                    <div class="row" style="margin-top: 60px">
                        <button onclick="toggle('addNewAnswerDiv')" id="addNewAnswer" class="btn btn-dark" style="width: 200px">Dodaj odpowiedź</button>
                        <a href="{% url 'edit' quiz_id %}" class="btn btn-dark" style="width: 200px; margin-left: 10px">Powrót</a>
                    </div>

                    <div class="row">
                        <div class="rounded" id="addNewAnswerDiv" style="display: none; margin-top: 15px; background-color: gainsboro; width: 420px; padding: 10px">
                            <form action="{% url 'add_answer' question.id%}" method="post">
                                <div class="form-group">
                                    <input class="form-control" name="answerContents" id="newQuestion" placeholder="Treść nowego pytania" style="width: 400px">
                                    <div style="margin-left: 21px; margin-top: 10px">
                                        <input class="form-check-input" type="checkbox" name="answerIsTrue" id="newQuestionIsTrue" value="True" >
                                        <label class="form-check-label" for="answerIsTrue">Poprawna odpowiedź</label>
                                    </div>
                                </div>
                                <input type="submit" id="sendBtn" class="btn btn-dark" type="submit"  style="margin-top: 5px; color: white; width: 200px" value="Dodaj">
                            </form>
                        </div>
                    </div>

            </div>
        </main>
    </div>

    <div class="navbar-fixed-bottom" style="position: fixed; height: 60px; bottom: 0; width: 100%; user-select: none; z-index: 100; background-color: white">
    <footer class="border-top footer text-muted" >
        <div class="container" style="margin-top: 15px">
            &copy; 2021 - QuizApp
        </div>
    </footer>
    </div>

</body>
</html>


<script>

    function toggle(elementId) {
        const x = document.getElementById(elementId);
        if (x.style.display === "none") {
                x.style.display = "block";
          } else {
                x.style.display = "none";
          }

    }

</script>