{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quizzes/bootstrap.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="user-select: none" >QuizApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/quizzes/" class="nav-link text-dark" >Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/select" class="nav-link text-dark" >Wybierz quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/manage" class="nav-link text-dark" >Manager quizów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="height: auto">
        <main role="main" class="pb-3">


            <h1>CREATE</h1>


        </main>
    </div>

    <div class="navbar-fixed-bottom">
    <footer class="border-top footer text-muted" style="position: fixed; height: 60px; bottom: 0; width: 100%">
        <div class="container">
            &copy; 2021 - QuizApp
        </div>
    </footer>
    </div>

</body>
</html>