{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quizzes/bootstrap.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="user-select: none" >QuizApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/quizzes/" class="nav-link text-dark" >Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/select" class="nav-link text-dark" >Wybierz quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/manage" class="nav-link text-dark" >Manager quizów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">


                <div class="row" style="margin-bottom: 50px">
                <h1 class="display-4">Quizy w bazie danych: {{ quizzes|length }}</h1>
                </div>

                {% if quizzes %}

                {% for quiz in quizzes %}
                    <div class="row">
                        <div class="media">
                            <div class="media-body">
                                <h4 style="margin: 0">{{ quiz.title }}</h4>
                                <a href="{% url 'edit' quiz.id %}" class="btn btn-secondary btn-sm" role="button" style="margin-top: 10px; color:white; width: 100px">Edytuj</a>
                                <a href="{% url 'delete' quiz.id %}" class="btn btn-danger btn-sm" role="button" style="margin-top: 10px; color:white; width: 100px">Usuń</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {% else %}
                    <div class="row" style="margin-top: 20px">
                    <p style="font-size: large">Brak quizów w bazie danych.</p>
                    </div>
            {% endif %}


            <div class="row" style="margin-top: 60px">
                <button onclick="toggle()" id="addNewQuiz" class="btn btn-dark">Dodaj nowy quiz</button>
            </div>

            <div class="row">
                <div class="rounded" id="addNewQuizDiv" style="display: none; margin-top: 15px; background-color: gainsboro; width: 420px; padding: 10px">
                    <form action="{% url 'create' %}" method="post">
                        <div class="form-group">
                            <input class="form-control" name="quizName" id="newQuiz" placeholder="Tytuł nowego quizu" style="width: 400px">
                        </div>
                        <input type="submit" id="sendBtn" class="btn btn-dark" type="submit"  style="margin-top: 5px; color: white; width: 200px" value="Stwórz quiz">
                    </form>
                </div>
            </div>

            </div>
        </main>
    </div>



    <div class="navbar-fixed-bottom">
     <footer class="border-top footer text-muted" style="position: fixed; height: 60px; bottom: 0; width: 100%; user-select: none">
        <div class="container" style="margin-top: 15px">
            &copy; 2021 - QuizApp
        </div>
    </footer>
    </div>

</body>
</html>

<script>

    function toggle() {
        const x = document.getElementById("addNewQuizDiv");
        if (x.style.display === "none") {
                x.style.display = "block";
          } else {
                x.style.display = "none";
          }

    }

</script>