{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quizzes/bootstrap.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="user-select: none" >QuizApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/quizzes/" class="nav-link text-dark" >Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/select" class="nav-link text-dark" >Wybierz quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quizzes/create" class="nav-link text-dark" >Manager quizów</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row">
                <h1 class="display-4">Wybierz quiz który chcesz rozwiązać</h1>
                </div>

                {% if quizzes %}
                <div class="row" style="margin-top: 20px; margin-bottom: 30px">
                    <h3>Liczba dostępnych quizów: {{ quizzes|length }}</h3>
                </div>
                {% for quiz in quizzes %}
                    <div class="row">
                        <div class="media">
                            <div class="media-body">
                                <h4 style="margin: 0">{{ quiz.title }}</h4>
                                <a href="{% url 'solve' quiz.id %}" class="btn btn-secondary btn-sm" role="button" style="margin-top: 10px; color:white">Rozwiąż quiz</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {% else %}
                    <p>Brak quizów w bazie danych</p>
            {% endif %}
            </div>
        </main>
    </div>

    <div class="navbar-fixed-bottom">
     <footer class="border-top footer text-muted" style="position: fixed; height: 60px; bottom: 0; width: 100%; user-select: none">
        <div class="container" style="margin-top: 15px">
            &copy; 2021 - QuizApp
        </div>
    </footer>
    </div>

</body>
</html>
